Django>=5.2.5
django-environ>=0.12.0
django-allauth[socialaccount]>=65.11.1
djangorestframework>=3.16.1
django-crispy-forms>=2.4
crispy-bootstrap4>=2025.6
cloudinary>=1.44.1
django-ulid>=0.0.4
gunicorn>=21.0.0
psycopg2-binary>=2.9.0
whitenoise>=6.0.0
dj-database-url>=2.0.0