{% comment %}
<!--
  base.html - Main template layout for the MAI Inventory Manager
  
  This template provides the base HTML structure that all other templates extend.
  It includes:
  - Common meta tags and favicon setup
  - Bootstrap CSS and JavaScript
  - Navigation bar (navbar.html)
  - Footer (footer.html)
  - Common JavaScript functionality
  
  Usage: All other templates should extend this template using {% extends "base.html" %}
-->
{% endcomment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAI-at-UCSD Inventory</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="/static/inventory/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/inventory/favicon.svg" />
    <link rel="shortcut icon" href="/static/inventory/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/inventory/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MAI" />
    <link rel="manifest" href="/static/inventory/site.webmanifest" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  {% include "shared/navbar.html" %}
  <body>
    <div class="container">
      <!-- Django Messages Display -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
      
      {% block body %} {% endblock %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
      ></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.1/sorting/datetime-moment.js"></script>
      <script src="{% static 'inventory/jdd.min.js' %}"></script>

      {% if SENTRY_DSN %}
      <script
        src="https://browser.sentry-cdn.com/10.8.0/bundle.tracing.replay.feedback.min.js"
        integrity="sha384-Yy2UXIFrWRfe56w1BuJ8/pgltHwWyYP4Q7dYKueJ/c6RG8B/bPJmGv+TBTQSuTSv"
        crossorigin="anonymous"
      ></script>
      <script>
        Sentry.init({
          dsn: "{{ SENTRY_DSN }}",
          // This sets the sample rate to be 10%. You may want this to be 100% while
          // in development and sample at a lower rate in production
          replaysSessionSampleRate: 0.1,

          // If the entire session is not sampled, use the below sample rate to sample
          // sessions when an error occurs.
          replaysOnErrorSampleRate: 1.0,

          // Setup Replay and set the privacy options
          integrations: [
            Sentry.replayIntegration({
              maskAllText: false,
              blockAllMedia: false,
            }),
          ],
        });

        // Lazy load the Feedback integration
        Sentry.lazyLoadIntegration("feedbackIntegration")
          .then((feedbackIntegration) => {
            Sentry.addIntegration(
              feedbackIntegration({
                maskAllText: false,
                blockAllMedia: false,
                submitButtonLabel: "Send Feedback",
                triggerLabel: "Feedback",
                formTitle: "Feature or Bug Report",
                messagePlaceholder: "Please describe the feature you'd like to see or the issue you encountered.",
              })
            );
          })
          .catch(() => {
            // This can happen if, e.g., a network error occurs,
            // in which case User Feedback will not be enabled.
          });
      </script>
      {% endif %}

      <footer class="footer">
        <br />
      </footer>
    </div>
    <!-- /container -->
  </body>
  {% include "shared/footer.html" %}
</html>
