{% load socialaccount %}
{% load static %}
<nav class="navbar navbar-light navbar-expand-lg bg-light sticky-top mb-4">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'inventory/logo.png' %}" alt="Avatar" style="border-radius: 50%; height: 30px; margin-right: 5px" />
    MAI Inventory</a
  >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'view_database' %}">View database</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'view_all_items' %}">Search database</a>
      </li>
      {% if perms.inventory.view_organization %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'organization_list' %}">Organizations</a>
      </li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ user.user_picture }}" alt="Avatar" style="border-radius: 50%; height: 30px; margin-right: 5px" />
        {{ user.get_full_name|default:user.username }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    {% endif %}
  </div>
</nav>
